<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
<h1>{{ user_id }}</h1>
<h1>{{ request_id }}</h1>
<p>Your request has been accepted. Results will be available in your Google Drive</p>
<p>You will be notified via email at {{ email }}</p>
</body>
</html>