<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
    <title>Molecular Dating</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <!-- BEGIN Pre-requisites -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }
    </style>
    <!-- END Pre-requisites -->
    <link rel="stylesheet" href="../static/style/style.css">

    <script src="../static/js/methods.js"></script>
    <script src="../static/js/vars.js"></script>
    <script>
        function start() {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '160430799521-om2977l800uepldismnau961cof27lti.apps.googleusercontent.com',
                    scope: 'https://www.googleapis.com/auth/drive.file email profile',
                    prompt: 'consent',
                    immediate: 'true'

                });
            });
        }
    </script>
</head>

<!--Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
    <div class="w3-center">
        <h1 class="w3-xxxlarge">HIV INCIDENCE AND INFECTION TIME ESTIMATOR</h1>
    </div>
</header>

<body class="w3-light-cyan">
<div class="container">
    <button id="signin-button">Sign in with Google</button>
    <script>
        window.addEventListener('message', function (event) {
            //console.log(event.data);
        });
        $('#signin-button').click(function () {
            // signInCallback defined in step 6.
            auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
        });
    </script>
    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {

                // Hide the sign-in button now that the user is authorized, for example:
                $('#signin-button').attr('style', 'display: none');

                // Send the code to the server
                var authcode = {'authcode': authResult['code']};
                $.ajax({
                    type: 'POST',
                    url: '/connect',
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        // Handle or verify the server response.
                        if (result['status'] == 'ok') {
                            window.location.href = "/multiform";
                        }
                        else {
                            window.location.href = "/error";
                        }
                    },
                    processData: false,
                    data: JSON.stringify(authcode),
                    dataType: 'json'
                });
            } else {
                // There was an error.
            }
        }
    </script>
    <script>
        //location.reload();
        window.onload = function () {
            showDefault();

        };
    </script>
    <div class="tab">
        <button id="ss-tab-button" class="tablinks" onclick="openForm(event, 'ss')">Sanger Sequencing Data</button>
        <button id="ngs-tab-button" class="tablinks" onclick="openForm(event, 'ngs')">Next Generation Sequencing Data
        </button>
        <button id="check-request-tab-button" class="tablinks" onclick="openForm(event, 'request-status')">Check Request
        </button>
    </div>
    <div id="ss" class="tabcontent">
        <h3>Sanger Sequence Data</h3>
        <p>Fill the sanger sequence form</p>
        <div id="container-ss">
            <form id="ss-single-input-form" name="ss-single-input-form">
                <br>
                Choose Fasta File: <input type='file' id='fastafile' name="fastafile" accept=".fasta" required>
                <br>

                <div>
                    Align Sequences : <input type='checkbox' id='align' name="align" value="True"><br>
                </div>
                <div>
                    HXB2: <input type='checkbox' id='hxb2' name="hxb2" value="True"><br>
                </div>
                <div>
                    <br>
                    <input type='submit' value='submit' onclick="return upload(this.parentNode.parentNode)">
                </div>
            </form>
        </div>
    </div>


    <div id="ngs" class="tabcontent">
        <h3>Next Generation Sequence Data</h3>
        <p>Fill the ngs data form</p>
        <div id="container-ngs">
            <form id="ngs-single-input-form" name="ngs-single-input-form" onsubmit="return upload(this);">
                <br>
                Choose Forward File: <input type='file' id='forwardfile' name="forwardfile" accept=".fastq" required>
                <br>
                <br>
                Choose Backward File: <input type='file' id='backwardfile' name="backwardfile" accept=".fastq" required>
                <br>
                <br>
                Forward Primer Sequence: <input type="text" id="forward-primer" name="forward-primer" pattern="[ACGTRYMKSWHBVDN]*">
                <br>
                <br>
                Backward Primer Sequence: <input type="text" id="backward-primer" name="backward-primer" pattern="[ACGTRYMKSWHBVDN]*">
                <br>
                <br>
                Sequence Length (for collapsing): <input type="number" id="sequence-length" name="sequence-length" min="0" value="250">
                <br>
                <br>
                Base Count: <input type="number" id="base-count" name="base-count" min="0" value="0">
                <br>
                <br>
                Percent: <input type="number" id="percent" name="percent" min="0" max="100" step="any" value="0">
                <br>
                <div>
                    <br>
                    <input type='submit' value='submit'>
                </div>
            </form>
        </div>
    </div>

    <div id="request-status" class="tabcontent">
        <h3>Check your request status here</h3>
        <div id="container-request-status">
            <form id="request-status-input-form" name="request-status-input-form" onsubmit="return upload(this);">
                <br>
                Request Id: <input type='text' id='request-id' name="request-id-text-box" required pattern="[A-Z0-9]{8}">
                <br>
                <div>
                    <br>
                    <input type='submit' value='submit'>
                </div>
            </form>
        </div>
    </div>

    <div id="loader-display" class="tabcontent">
        <h3 id="loader-msg"></h3>
        <img src="../static/images/ajax-loader.gif">
    </div>
</div>
<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
        <header class="w3-container w3-theme-l1">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-display-topright">×</span>
            <h4>Oh snap! We just showed you a modal..</h4>
            <h5>Because we can <i class="fa fa-smile-o"></i></h5>
        </header>
        <div class="w3-padding">
            <p>Cool huh? Ok, enough teasing around..</p>
            <p>Go to our <a class="w3-btn" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
        </div>
        <footer class="w3-container w3-theme-l1">
            <p>Modal footer</p>
        </footer>
    </div>
</div>
</body>
</html>
