<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
    <title>Molecular Dating</title>
    <!-- BEGIN Pre-requisites -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <!-- END Pre-requisites -->
    <link rel="stylesheet" href="../static/style/style.css">
    <script src="../static/js/methods.js"></script>
    <script>
        function start() {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '160430799521-om2977l800uepldismnau961cof27lti.apps.googleusercontent.com',
                    scope: 'https://www.googleapis.com/auth/drive.file email profile',
                    prompt: 'consent',
                    immediate: 'true'

                });
            });
        }
    </script>
</head>
<body>
<h2 style='text-align: center;'>HIV Incidence and Infection Time Estimator</h2>
<div class="container">
    <ul>
        <li>This is the homepage for HIV incidence and infection time estimation</li>
        <li>You can process your fasta/fastq files and we will perform molecular and generate dating output with
            detailed analysis
        </li>
        <li>If you have multiple input files, please sign in to use Google Drive</li>
        <li>In case of multiple file input, the output will be uploaded in your Google Drive
        </li>
        <li>Make sure that your web browser has 'enable pop-ups' for this website</li>
        <li>Please sign in to upload multiple files or use the direct file upload for single file</li>
    </ul>
    <button id="signinButton">Sign in with Google</button>
    <script>
        window.addEventListener('message', function (event) {
            console.log(event.data);
        });
        $('#signinButton').click(function () {
            // signInCallback defined in step 6.
            auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
        });
    </script>
    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {

                // Hide the sign-in button now that the user is authorized, for example:
                $('#signinButton').attr('style', 'display: none');

                // Send the code to the server
                var authcode = {'authcode': authResult['code']}
                $.ajax({
                    type: 'POST',
                    url: '/connect',
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        // Handle or verify the server response.
                        if (result['status'] == 'ok') {
                            window.location.href = "/multiform";
                        }
                        else {
                            window.location.href = "/error";
                        }
                    },
                    processData: false,
                    data: JSON.stringify(authcode),
                    dataType: 'json'
                });
            } else {
                // There was an error.
            }
        }
    </script>
    <script>
        window.onload = function () {
            showDefault();
        };
    </script>
    <div class="tab">
        <button id="ssbutton" class="tablinks" onclick="openForm(event, 'ss')">Sanger Sequencing Data</button>
        <button id="ngsbutton" class="tablinks" onclick="openForm(event, 'ngs')">Next Generation Sequencing Data
        </button>
    </div>
    <div id="ss" class="tabcontent">
        <h3>Sanger Sequence Data</h3>
        <p>Fill the sanger sequence form</p>
        <div id="container_ss">
            <form id="ss_single_form" name="ss_form">
                <br>
                Choose Fasta File: <input type='file' id='fastafile' name="fastafile">
                <br>

                <div>
                    Align Sequences : <input type='checkbox' id='align' name="align" value="True"><br>
                </div>
                <div>
                    HXB2: <input type='checkbox' id='hxb2' name="hxb2" value="True"><br>
                </div>
                <div>
                    <br>
                    <input type='submit' value='submit' onclick="upload(this.parentNode.parentNode)">
                </div>
            </form>
        </div>
    </div>

    <div id="ngs" class="tabcontent">
        <h3>Next Generation Sequence Data</h3>
        <p>Fill the ngs data form</p>
        <div id="container_ngs">
            <form id="ngs_single_form" name="ngs_form" onsubmit="return upload(this);">
                <br>
                Choose Forward File: <input type='file' id='forwardfile' name="forwardfile">
                <br>
                <br>
                Choose Backward File: <input type='file' id='backwardfile' name="backwardfile">
                <br>
                <div>
                    <br>
                    <input type='submit' value='submit'>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
