<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Molecular Dating</title>
    <script src="../static/js/filepicker.js"></script>
    <script src="../static/js/vars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <link rel="stylesheet" href="../static/style/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }
    </style>

    <script src="../static/js/methods.js"></script>
    <script src="../static/js/vars.js"></script>
</head>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            window.location.href = "/signout";
        });
    }
</script>
<script>
    oauthToken = '{{ oauthtoken }}';
</script>

<script>
    function start() {
        gapi.load('auth2', function () {
            auth2 = gapi.auth2.init({
                client_id: '160430799521-om2977l800uepldismnau961cof27lti.apps.googleusercontent.com',
                scope: 'https://www.googleapis.com/auth/drive.file email profile',
                prompt: 'consent',
                immediate: 'false'
            });
        });
    }
</script>
<body class="w3-light-cyan">
<script>
    window.onload = function () {
        showDefault();
    };
</script>
<h2 style='text-align: center;'>HIV Incidence and Infection Time Estimator</h2>
<div>
    <script src="https://www.google.com/jsapi?key=AIzaSyAK4MtRgKB-EPXvE94oCtuma8kXaynaAes"></script>
</div>
<a href="#" onclick="signOut();">Sign out</a>
<div class="container">
    <div class="tab">
        <button id="ss-tab-button" class="tablinks" onclick="openForm(event, 'ss')">Sanger Sequencing Data</button>
        <button id="ngs-tab-button" class="tablinks" onclick="openForm(event, 'ngs')">Next Generation Sequencing Data
        </button>
        <button id="check-request-tab-button" class="tablinks" onclick="openForm(event, 'request-status')">Check Request
        </button>
    </div>
    <div id="ss" class="tabcontent">
        <h3>Sanger Sequence Data</h3>
        <p>Fill the sanger sequence form</p>
        <div id="container-ss">
            <br>
            <button id="add-sanger-input-button" onclick="addSangerInputElements()">Add more</button>
            <br>
            <form id="ss-multi-input-form" name="ss-multi-input-form" onsubmit="return upload(this)">
                <div id="ss-form-container">
                    <div id="ss-input-form-element-0">
                        <label>Choose Fasta File : </label>
                        <button type="button" id='picker-0'>Select from Google Drive</button>
                        <label id="file-select-0"></label>
                        <script>function initPicker_0() {
                            var picker = new FilePicker({
                                apiKey: 'AIzaSyAK4MtRgKB-EPXvE94oCtuma8kXaynaAes',
                                clientId: '160430799521-om2977l800uepldismnau961cof27lti',
                                buttonEl: document.getElementById('picker-0'),
                                onSelect: function (file) {
                                    //console.log(file);
                                    document.getElementById('file-select-0').style.color = "black";
                                    document.getElementById('file-select-0').innerHTML = file.title;
                                    sangerFileUploadDict[0] = file;
                                }
                            });
                        }
                        </script>
                        <script src="https://apis.google.com/js/client.js?onload=initPicker_0"></script>
                        <label>Align : </label>
                        <input type="checkbox" id="align-0" name="align" value="True">
                        <label>HXB2: </label>
                        <input type="checkbox" id="hxb2-0" name="hxb2" value="True">
                    </div>

                </div>
                <div>
                    <input id="ss-submit-button" type="submit" value="submit">
                </div>
            </form>
        </div>

    </div>

    <div id="ngs" class="tabcontent">
        <h3>Next Generation Sequence Data</h3>
        <p>Fill the ngs data form</p>
        <div id="container-ngs">
            <br>
            <button id="add-ngs-input-button" onclick="addNextGenInputElements()">Add more</button>
            <br>
            <form id="ngs-multi-input-form" name="ngs-multi-input-form" onsubmit="return upload(this)">
                <div id="ngs-form-container">
                    <br>
                    Forward Primer Sequence: <input type="text" id="forward-primer" name="forward-primer">
                    <br>
                    <br>
                    Backward Primer Sequence: <input type="text" id="backward-primer" name="backward-primer">
                    <br>
                    <br>
                    Sequence Length (for collapsing): <input type="number" id="sequence-length"
                                                             name="sequence-length" min="0">
                    <br>
                    <br>
                    Base Count: <input type="number" id="base-count" name="base-count" min="0">
                    <br>
                    <br>
                    Percent: <input type="number" id="percent" name="percent" min="0" max="100" step="any">
                    <br>
                    <br>
                    <div class=w3-container id="ngs-input-form-element-0">
                        <label>Choose Forward File : </label>
                        <button type="button" id='picker-forward-0'>Select from Google Drive</button>
                        <label id="forward-file-select-0"></label>
                        <script>function initForwardPicker_0() {
                            var picker = new FilePicker({
                                apiKey: 'AIzaSyAK4MtRgKB-EPXvE94oCtuma8kXaynaAes',
                                clientId: '160430799521-om2977l800uepldismnau961cof27lti',
                                buttonEl: document.getElementById('picker-forward-0'),
                                onSelect: function (file) {
                                    console.log(file);
                                    document.getElementById('forward-file-select-0').style.color = "black";
                                    document.getElementById('forward-file-select-0').innerHTML = file.title;
                                    if (!ngsFileUploadDict.hasOwnProperty(0)) {
                                        ngsFileUploadDict[0] = {};
                                    }
                                    ngsFileUploadDict[0]['forward'] = file;
                                }
                            });
                        }
                        </script>
                        <script src="https://apis.google.com/js/client.js?onload=initForwardPicker_0"></script>
                        <label>Choose Backward File : </label>
                        <button type="button" id='picker-backward-0'>Select from Google Drive</button>
                        <label id="backward-file-select-0"></label>
                        <script>function initBackwardPicker_0() {
                            var picker = new FilePicker({
                                apiKey: 'AIzaSyAK4MtRgKB-EPXvE94oCtuma8kXaynaAes',
                                clientId: '160430799521-om2977l800uepldismnau961cof27lti',
                                buttonEl: document.getElementById('picker-backward-0'),
                                onSelect: function (file) {
                                    console.log(file);
                                    document.getElementById('backward-file-select-0').style.color = "black";
                                    document.getElementById('backward-file-select-0').innerHTML = file.title;
                                    if (!ngsFileUploadDict.hasOwnProperty(0)) {
                                        ngsFileUploadDict[0] = {};
                                    }
                                    ngsFileUploadDict[0]['backward'] = file;
                                }
                            });
                        }
                        </script>
                        <script src="https://apis.google.com/js/client.js?onload=initBackwardPicker_0"></script>
                    </div>
                     <br>

                </div>
                <div>
                    <input id="ngs-submit-button" type="submit" value="submit">
                </div>
            </form>
        </div>
    </div>

    <div id="request-status" class="tabcontent">
        <h3>Check your request status here</h3>
        <div id="container-request-status">
            <form id="request-status-input-form" name="request-status-input-form" onsubmit="return upload(this);">
                <br>
                Request Id: <input type='text' id='request-id' name="request-id-text-box">
                <br>
                <div>
                    <br>
                    <input type='submit' value='submit'>
                </div>
            </form>
        </div>
    </div>

    <div id="loader-display" class="tabcontent">
        <h3 id="loader-msg"></h3>
        <img src="../static/images/ajax-loader.gif">
    </div>

</div>

</body>
</html>
