<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../style/css/topnav.css">
<link rel="stylesheet" href="../style/css/dropdown.css">
</head>
<body>

<div class="topnav">
  <a class="active" href="index.html">Normal</a>
  <a href="ngs.html">Next Generation Sequencing</a>

</div>

<div class="dropdown">
    <h1>Select from below option</h1>
  <button class="dropbtn">Number of Files</button>
  <div class="dropdown-content">
    <a href="index.html">Single</a>
    <a class=active href="multiple.html">Multiple</a>

  </div>
</div>

<div style="padding-left:16px">
  <h2>Multiple File</h2>
  <p>Some content..</p>
</div>

</body>
</html>
