<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../style/css/dropdown.css">
</head>
<body>

<div class="container">
    <div class="dropdown">
        <button class="dropbtn">Normal</button>
        <div class="dropdown-content">
            <a href="index.html">Single File</a>
            <a href="norm-multiple.html">Multiple Files</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Next Generation Sequencing</button>
        <div class="dropdown-content">
            <a class="active" href="ngs.html">Single File</a>
            <a href="ngs-multiple.html">Multiple Files</a>
        </div>
    </div>
</div>

<h3>Next Generation Sequencing</h3>
<p>Click on the "Dropdown" link to see the dropdown menu.</p>
</body>

</html>
